{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="container d-flex justify-content-center my-5">
    <div class="bg-light p-4 rounded shadow text-center">
{% if my_posts %}
<center><h3>Check out all your posts here:</h3></center><br/><br/><br/>
{% else %}
<center><h3>You don't have any posts!Post now : </center></h3><br/><br/><hr>
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="{{ url_for('add_post') }}" class="btn btn-secondary">Add Post</a>
</div>
{% endif %}
</div></div>
{% for post in my_posts %}
<div class="shadow p-3 mb-5 bg-body-tertiary rounded position-relative" style="min-height: 180px;">
    <!-- Title and View button -->
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Title:</h4> <strong>{{ post.title }}</strong>
        <a href="{{ url_for('post', id=post.id) }}" class="btn btn-info btn-sm">View</a>
    </div>
    <hr>
    <!-- Post content -->
    <strong>Author: </strong> {{ post.poster.name }}<br/>
    <strong>Content: </strong>{{ post.content }}<br/>
    <strong><small>Posted:</strong> {{ post.date_posted }}</small><br/><br/><br/>

    <!-- Bottom-left LIKE button -->
    <a 
       class="btn btn-outline-danger btn-sm position-absolute" 
        style="position: absolute; bottom: 10px; left: 10px; background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb;cursor: default;">
       ❤️ {{ post.likes }}
    </a>

    <!-- Bottom-right Edit/Delete buttons -->
    {% if current_user.id == post.poster_id %}
    <div class="position-absolute" style="bottom: 10px; right: 10px;">
        <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-danger btn-sm">Delete</a>
    </div>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
